@import
	url('https://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=cyrillic,cyrillic-ext,latin-ext')
	;

#main_div {
	font-family: 'Comfortaa', cursive;
	font-size: 20pt;
	font-weight: bold;
}

.mtable {
	margin-left: auto;
	margin-right: auto;
}

.myitem {
	width: 50px;
	height: 50px;
	border: 1px solid gray;
	text-align: center;
	valign: middle;
	background-color: #c4c5c9;
}

.myitem_orange {
	background-color: #f88f12;
	color:#FFFFFF;
}

.nolitem {
	border-right-style: hidden;	
}