@import url('https://fonts.googleapis.com/css?family=Roboto');

#display_div {
	width: 200px;
	height: 50px;
	border: 1px solid gray;
	text-align: right;
	vertical-align: bottom;
	background-color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 14pt;
	font-weight: bold;
	color: white;
}

button.sbtn {
	width: 50px;
	height: 50px;
	border: 1px solid gray;
	text-align: center;
	valign: middle;
	background-color: #c4c5c9;
	font-family: 'Roboto', sans-serif;
	font-size: 14pt;
	font-weight: bold;
	color: black;
}

button.nbtn {
	width: 100px;
	height: 50px;
	border: 1px solid gray;
	text-align: center;
	valign: middle;
	background-color: #c4c5c9;
	font-family: 'Roboto', sans-serif;
	font-size: 14pt;
	font-weight: bold;
	color: black;
}

button.obtn {
	width: 50px;
	height: 50px;
	border: 1px solid gray;
	text-align: center;
	valign: middle;
	background-color: #f88f12;
	font-family: 'Roboto', sans-serif;
	font-size: 14pt;
	font-weight: bold;
	color: #FFFFFF;
}

.cntryFnt {
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #f88f12;
}

.listFnt {
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;	
	color: #f88f12;
}

#inputClassFnt {
	border: 1px solid #f88f12;
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;	
	color: #f88f12;
}

button.searchBtn{
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #f88f12;
	border: 1px solid #f88f12;	
}